#Script settings
AudioAssistMode=0
AutomaticVersionCheck=1
MaximizeWindow=1
PlaySounds=1
PsBoxFont=10
ScriptSelfUpdate=1
ShowConsoleWindow=1
SilentMode=0
UILanguage=EN
UILiteMode=0

#Tools versions
ProcDumpVersion=11.0
PsPingVersion=2.12
